[% META title = 'Create Album' %]

<form method='post' action='[% c.uri_for("create.do") %]'>
    <div> 
        <label> 
            Name of album:
            <input name='name' type='text' />
        </label> 
    </div> 
 
    <div> 
        <label> 
            Description for album:
            <input name='description' type='text' />
        </label> 
    </div> 
 
    <div> 
        <input name='submit' type='submit' value='Create Album' />
    </div> 
</form>
