<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
    "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US"> 
    <head> 
        <title>Loggia - [% template.title || 'The minimalist gallery' %]</title>
        <link type='text/css'
              rel='stylesheet'
              href='[% c.uri_for("/static/css/style.css") %]' />
    </head> 
    <body> 
        <div id='container'> 
            <div id='header'>
                <h1>Loggia</h1>
            </div>

            <div id='showcase'>
                [% IF error || c.req.param('error') %]
                    <div class='error'>
                        [% error || c.req.param('error') %]
                    </div>
                [% END %]

                [% IF status || c.req.param('status') %]
                    <div class='status'>
                        [% status || c.req.param('status') %]
                    </div>
                [% END %]

                [% content %]
            </div>

            <div id='footer'>
                <p>
                    Copyright &copy; 2010,
                    <a href='http://thoughtripples.com/'>Thought Ripples</a>
                </p>

                <div class='powered-by'>
                    <img src='[% c.uri_for("/static/images/powered_by_loggia.jpg") %]'
                         alt= 'Powered by Loggia' />
                </div>
            </div>
        </div>
    </body>
</html>
